# dependencies
node_modules/

# build
dist/
.next/
.wrangler/

# env/secrets
.env
.env.local
.dev.vars
!.env.example
!.dev.vars.example

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# lock files (using bun)
package-lock.json
yarn.lock

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
