# dependencies
node_modules/

# build
dist/
.wrangler/

# env/secrets
.env
.secrets
!.secrets.example

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# lock files (using bun)
package-lock.json
yarn.lock

# typescript
*.tsbuildinfo
